#!/bin/bash
# Managed by Chef for <%= node['fqdn'] %>

config_file="/etc/packagecloud/packagecloud.rb"

key=$(awk '$1 ~ /enterprise_license_key/ { print $3 }' ${config_file} | tr -d '"')
token=$(awk '$1 ~ /api_token/ { print $3 }' ${config_file} | tr -d '"')

expdate=$(curl -sSf https://"${token}":@packagecloud.io/api/v1/licenses/"${key}"/license.json | jq -r .license | yq '.":end_date"' | awk '{ print $1}')

today=$(date +%s)
notifydate=$(date -d "${expdate} - 15 days" +%s)

if [ "$today" -le "$notifydate" ]; then
  curl -s -o /dev/null -d "m=expiry date is ${expdate}" <%= @snitch_url %>
fi
