#
# Users Seed File
#
# Populate the `users:`` key with users, specifying name, email
# and optionally, a password. If no password is specified a an activation email is sent, otherwise
# the password specified is used.
#
# NOTE: The password must be encrypted using `sudo packagecloud-ctl encrypt-password <password>` first!
#
# Example:
#
# users:
#   - {email: 'foo@asd.com', name: 'person', password: '$alc2a29aas'}

users: <%= JSON.dump(@users) %>
